# Compiled Object files
*.o
*.obj
*.out

# macOS files
.DS_Store

# Compiled Executables
SmartTrafficSim/SmartTrafficSim
SmartTrafficSim/headless_test
SmartTrafficSim/generate_audio

# VS Code
.vscode/
